<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CategoryMapper">


    <select id="selectAll" resultType="pojo.Category">
        select *
        from category
    </select>

    <select id="selectById" resultType="pojo.Category">
        select *
        from category
        where cid = #{cid}
    </select>

    <insert id="addUI">
        insert into category(cname,cid)
        values (#{cname},#{cid});
    </insert>

    <delete id="deleteByid">
        delete
        from category
        where cid = #{cid};
    </delete>
</mapper>