<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CommentMapper">


    <insert id="addComment">
        insert into comment(comment_id, user_id, content, pid, createtime, updatetime, rating, state, username)
        values (#{comment_id}, #{user_id}, #{content}, #{pid}, #{createtime}, #{updatetime}, #{rating},
                #{state}, #{username})
    </insert>
    <update id="updateComment">
        update comment
        set content = #{content}, updatetime = #{updatetime}, rating = #{rating}
        where comment_id = #{comment_id}

    </update>
    <delete id="deleteBycommentId">
        delete
        from comment
        where comment_id = #{commentId}
    </delete>

    <select id="queryByPid" resultType="pojo.Comment">
        select *
        from comment
        where pid = #{pid};
    </select>
    <select id="queryByCommentId" resultType="pojo.Comment">
        select *
        from comment
        where comment_id = #{commentId}
    </select>

</mapper>