<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderMapper">

    <insert id="add">
        insert into orders
        values (#{oid}, #{ordertime}, #{total}, #{state}, #{address}, #{name}, #{telephone}, #{uid})
    </insert>
    <update id="updateState">
        update orders
        set state = #{state}
        where oid = #{oid}
    </update>

    <select id="getTotalRecord" resultType="java.lang.Integer">
        select count(*)
        from orders
        where uid = #{uid}
    </select>

    <select id="selectMyOrdersByPage" resultType="pojo.Order" parameterType="pojo.PageBean">
        select *
        from orders
        where uid = #{uid}
        order by ordertime desc
        limit #{startIndex}, #{pageSize}
    </select>

    <!--    多表查询-->
    <resultMap id="orderRslMap" type="pojo.Order">
        <id column="oid" property="oid"/>
        <id column="ordertime" property="ordertime"/>
        <id column="total" property="total"/>
        <id column="address" property="address"/>
        <id column="name" property="name"/>
        <id column="telephone" property="telephone"/>
        <collection property="items" fetchType="eager"
                    select="mapper.OrderItemMapper.selectByOid" column="oid">
        </collection>
    </resultMap>

    <select id="getOrderByStep" resultMap="orderRslMap">
        select *
        from orders
        where uid = #{uid}
        order by ordertime desc
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="queryAllByState" resultType="pojo.Order">
        select *
        from orders
        where state = #{state}
        order by ordertime desc
        limit ${start}, ${pageSize}
    </select>
    <select id="queryAll" resultType="pojo.Order">
        select *
        from orders
        order by ordertime desc
        limit ${start}, ${pageSize}
    </select>
    <select id="getByOid" resultType="pojo.Order">
        select *
        from orders
        where oid = #{oid}
    </select>
    <select id="selectTotalRecord" resultType="java.lang.Integer">
        select count(*)
        from orders
    </select>
    <select id="selectTotalRecordByState" resultType="java.lang.Integer">
        select count(*)
        from orders
        where state = #{state}
    </select>

</mapper>