<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderItemMapper">

    <insert id="add">
        insert into orderitem
        values (#{itemid}, #{count}, #{subtotal}, #{pid}, #{oid})
    </insert>

    <select id="selectByOid" resultType="pojo.OrderItem">
        select *
        from orderitem
        where oid = #{oid}
    </select>
    <select id="selectByOId" resultType="pojo.OrderItemNoOrder">
        select *
        from orderitem
        where oid = #{oid}
    </select>

</mapper>